.square
{
    width:20px;
    height:20px;
    border:1px solid #000; 
    min-width:20px;
    float:left;
}

.InvSquare
{
    width:20px;
    height:20px;
    border:1px solid #000;
    background-color:green;
    min-width:20px;
    float:left;
    visibility:hidden;
}

.CanvasContainer
{
	margin-top: 30px;
	margin-left: 20px;
}

body
{
	background-color: cadetblue;
}